/****************************************************/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans';
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.card {
  margin-top: 110px;
  margin-bottom: 20px;
  min-height: 535px;
  max-width: 327px;
  min-width: 245px;
  background: white;
  border-radius: 25px;
  position: relative;
}

.card__image-mobile {
  width: 237px;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}

.card__image-patern-mobile {
  display: block;
  margin: 0 auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: scale 3s ease-in-out infinite;
          animation: scale 3s ease-in-out infinite;
}

.card__description {
  padding: 25px;
}

.card__title {
  font-size: 28px;
  margin: 8px 0 39px 0;
  text-align: center;
  font-weight: 700;
  color: #4a4b5e;
}

.card__description-line {
  border-bottom: 1px solid #e7e7e9;
  margin-bottom: 15px;
}

.card__question::after {
  content: url(.././images/icon-arrow-down.svg);
  margin-left: 10px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #4a4b5e;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__question--active {
  font-weight: 700;
}

.card__question--active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.card__question:hover {
  color: #F47B56;
  font-weight: 700;
}

.card__answer {
  display: block;
  color: #787887;
  font-size: 12px;
  line-height: 18px;
  padding-right: 20px;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
  50% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
  50% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 950px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 920px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
    max-height: 509px;
    margin-top: 0;
  }
  .card__image-mobile {
    display: none;
  }
  .card__image-patern-mobile {
    display: none;
  }
  .card__image-desktop {
    position: absolute;
    width: 472px;
    height: 359px;
    left: -80px;
    bottom: 80px;
  }
  .card__image-patern-desktop {
    position: absolute;
    top: -265px;
    left: -575px;
    width: 966px;
    height: 945px;
  }
}
/*# sourceMappingURL=style.css.map */