* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Kumbh Sans';
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.card {
    min-height: 535px;
    max-width: 327px;
    background: white;
    border-radius: 25px;
    position: relative;

    &__image {
        width:237px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -60%);
        animation: float 3s ease-in-out infinite;
    }

    &__image-patern {
        display: block;
        margin: 0 auto;
        scale: 1;
        animation: scale 3s ease-in-out infinite;
    }
}

@keyframes float {
    0% {
        transform: translate(-50%, -60%);
    }

    50% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -60%);
    }
}

@keyframes scale {
    0% {
        scale: 1;
    }

    50% {
        scale: 0.9;
    }

    100% {
        scale: 1;
    }
}